.build-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.name {
    font-weight: bold;
}

.specs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.spec {
    width: 120px;
    margin: 5px auto;
}

.price {
    text-align: right;
}

.button {
    margin: 0 12px;
}

/*******TEAM PAGE*******/
.team {
    background: linear-gradient(to top,#000000, #434343);
}

.card {
    background: linear-gradient(#d9a7c7, #fffcdc);   
}

a:hover.icon-link {
    color: magenta;
    transition: all 0.3s ease;
}
