.right-nav {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    flex-flow: column nowrap;
    background-color: #3b3b3b;
    position: fixed;
    /* transform: ${({ open }) => open ? 'translateX(0)' : 'translateX(100%)'} */
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

div.right-nav.open, li {
    right: 0;
    margin-top: 40px;
}
div.right-nav.open, li {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
 }

 @media (min-width: 768px) {
    div.right-nav.open, li {
        /* right: 0; */
        margin-top: 10px;
    }
 }
