.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.menu-items {
  padding: 5px;
  text-decoration: none;
  color: black;
}

div.nav {
  display: flex;
}

.navbar{
  color: black;
}

#basic-navbar-nav.navbar-collapse.collapse {
  position: right;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
